<div class="row">
	<div class=" col-xs-9">
		<h2>Comments</h2>
		<table class="table">
			<tbody>
				<% book.book_comments.each do |book_comment| %>
				<tr>
					<td>
						<%= attachment_image_tag book_comment.user, :profile_image, size:"40x40",fallback: "no_image.jpg" %><br>
						<%= link_to "#{book_comment.user.name}", user_path(book.user) %>
					</td>
					<td><%= book_comment.comment %></td>
					<td><%= book_comment.created_at.strftime("%Y/%m/%d") %></td>
					<!--destroy-->
					<% if book_comment.user === current_user %>
						<td>
						<%= link_to "Destroy", book_comments_path(book_comment.id), method: :delete, remote: true, data:{confirm:"本当に消しますか？"}, class:"btn-sm btn-danger" %>
						</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>