<%= render "books/user_create", user: @user %>

<h2>Users</h2>
<table class="table">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= @users.each do |user| %>
		<tr>
			<td><%= user.profile_image %></td>
			<td><%= user.name %></td>
			<td></td>
			<td><%= link_to "Show", user_path %></td>
		</tr>
		<% end %>
	</tbody>
</table>