<%= render 'layouts/error_message', model: @create_book %>

<div class="col-xs-3">

	<h2>User info</h2>
	<table class="table">
		<tbody>
			<tr>
				<td><%= attachment_image_tag @user, :profile_image, size:"100x100", format:"jpeg", fallback: "no_image.jpg" %></td>
				<td></td>
			</tr>
			<tr></tr>
			<tr>
				<td>name</td>
				<td><%= @user.name %></td>
			</tr>
			<tr>
				<td>introduction</td>
				<td><%= @user.introduction %></td>
			</tr>

		</tbody>
	</table>

	<div class="row">
		<% if @user == current_user %>
			<%= link_to "", edit_user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
		<% else %>
			<%= link_to "", user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>

		<% end %>
	</div>


	<div class="book_create">
		<h2>New book</h2>
		<%= form_for(@create_book) do |f| %>

			<div class="row">
				<label>Title</label>
				<%= f.text_field :title, class:"col-xs-12 form-control" %>
			</div>
			<div class="row">
				<label>Opinion</label>
				<%= f.text_area :body, class:"form-control col-xs-12", rows:"3" %>
			</div>
			<br>
			<%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %>
		<% end %>
	</div>
</div>

