<!-- flash -->


<table>
	<caption>User info</caption>
	<tbody>
		<tr>
			<td><%= user.profile_image_id %></td><td></td>
			<td>name</td><td><%= user.name %></td>
			<td>introduction</td><td><%= user.introduction %></td>
		</tr>
	</tbody>
</table>
<div class="btn">
	<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
	<%= link_to "", edit_user_registration_path %>
</div>


<div class="book_create">
	<h2>New book</h2>
	<%= form_for(@create_book, url: books_path) do |f| %>
		<% if @create_book.errors.any? %>
		<div id="error_explanation">
			<h2><%= @create_book.errors.count %>件のエラーが発生しました。</h2>
			<ul>
				<% @create_book.errorsfull_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
	<div class="row">
		<label>Title</label>
		<%= f.text_field :title, class:"form-control" %>
	</div>
	<div class="row">
		<label>Opinion</label>
		<%= f.text_area :body, class:"form-control", rows:"3" %>
	</div>
	<br>
	<%= f.submit "Create Book", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
	<% end %>

</div>

